{% extends "website/base.html" %}
{% load static %}

{% block title %}Growth Plans - Webly{% endblock %}

{% block content %}

<!-- HERO -->
<section class="hero section text-center">
  <div class="container">
    <h1>Choose Your Growth Plan</h1>
    <p>Flexible, affordable packages that match your goals and budget.</p>
  </div>
</section>

<!-- PLANS -->
<section class="section">
  <div class="container">
    <div class="growth-grid">

      <!-- Minimal-Growth -->
      <div class="growth-card growth-minimal">
        <h3>Standard-Growth</h3>
        <h4>$69.99/month</h4>
        <ul>
          <li>✅ Personalized Website</li>
          <li>✅ Custom Business E-mail </li>
          <li>✅ Custom Web Domain</li>
          <li>✅ Basic SEO Assessment</li>
        </ul>
      </div>

      <!-- Standard-Growth (Sale) -->
      <div class="growth-card growth-standard position-relative">
        <div class="ribbon">SPECIAL</div>
        <h3>Expansive-Growth</h3>
        <h4>
          <span class="text-muted text-decoration-line-through me-2">$129.99</span>
          $99.99/month
        </h4>
        <ul>
          <li>✅ Personalized Website</li>
          <li>✅ Custom Business E-mail & Web Domain </li>
          <li>✅ Advanced SEO + Analytics setup</li>
          <li>✅ 1 Social Media Platform (Your Choice)</li>
          <li>✅ Weekly Online Posts</li>
          <li>✅ Monthly performance report</li>
        </ul>
      </div>

      <!-- Explosive-Growth -->
      <div class="growth-card growth-explosive">
        <h3>Explosive-Growth</h3>
        <h4>$199.99/month</h4>
        <ul>
          <li>✅ Everything in Standard</li>
          <li>✅ Custom Web Shop/Portal (shop, booking, etc.)</li>
          <li>✅ 3 Social Media Platforms (Your Choice)</li>
          <li>✅ Daily Online Posts</li>
          <li>✅ Ad Boost for Grand Exposure</li>
        </ul>
      </div>
    </div>
  </section>

    <!-- CTA -->
<section class="section section--soft text-center">
  <div class="cta_container">
    <a href="{% url 'website:contact' %}" class="btn-primary-soft btn-xl mt-3 d-inline-block">Contact Us</a>
  </div>
</section>
{% endblock %}
